@charset "utf-8";

$color-text: #5a5a5a;

@function rem($v) {
  @return ($v/16)+rem;
}

body {
  color: $color-text;
  font-size: rem(14);
  line-height: (24/14);
  letter-spacing: (25/1000)+em;
}

/* card */
.card {}

/* update */
.update {
  &__item {
    width: (360/1140)*100%;
  }
}
